#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4c4c4c;
  color: white;
  padding: 1em;
  z-index: 1;
}

#menu a {
  color: white;
  text-decoration: none;
  margin: 0 1.5em;
  font-weight: bold;
  font-size: 1.2em;
}

#menu a:hover {
  text-decoration: underline;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

textarea {
  height: 1200px;
  width: 300%;
  font-size: 24px;
  margin-bottom: 20px;
}

.emoji-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.emoji-button{
    transform: scale(8);
}


.submit-button {
  padding: 20px 40px;
  background-color: #4CAF50;
  color: white;
  font-size: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button:hover {
  background-color: #3e8e41;
}


.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section h1 {
  font-size: 5em;
  margin-bottom: 1em;
}

p {
  font-size: 3em;
}


#photos img {
  max-width: 100%;
  height: auto;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.photo-container img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 10px;
}



